body{
    margin:0;
    padding:0;
    min-height: 100vh;
    background: #fff;
}
@font-face {
    font-family:"Gilroy-ExtraBold";
    src: url(../EM-Gilroy-font/Gilroy-ExtraBold.ttf);
}
@font-face {
    font-family:'Gilroy-Light' ;
    src:url(../EM-Gilroy-font/Gilroy-Light.ttf);  
} 
@font-face {
    font-family:'Gilroy-Regular' ;
    src:url(../EM-Gilroy-font/Gilroy-Regular.ttf);  
} 
@font-face {
    font-family:'Gilroy-Bold' ;
    src:url(../EM-Gilroy-font/Gilroy-Bold.ttf);  
}
header{
    width:85vw;
    height:auto;
    overflow: hidden;
}
.logo{
    width:50%;
    height:auto;
    display: flex;
    justify-content: center;
}
.menu{
    width:50%;
    height:auto;
}
/* ...................................................................... */
.contact{
    width:100%;
    height:auto;
    margin-top: 5vw;
    background-color: #153980;
    overflow: hidden;
}

.container23{
    width:85%;
    height:auto;
    margin:auto;
    margin-bottom: 2vw;
} 
.c23{
    width:60%;
    height:auto; 
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    overflow: hidden;
}
.c23 h1{
    font-size: 3.4vw;
    font-family:'Gilroy-ExtraBold';
    font-weight: bold;
    color:#2dbdef
}
.c23 p{
    color: white;
    font-family:'Gilroy-Light';
    font-size: 1.5vw;
    line-height: 2vw;
}
.c23 h3{
    color:#2aafe2;
    font-size: 1.4vw;
    font-family: 'Gilroy-ExtraBold';
}
/* ****************************************************************** */
.container3{
    width:85vw;
    height:auto;
    overflow: hidden; 
    display: flex;
    margin: auto;
}
.c3box{
    width:50%;
    background: #fff;
    overflow: hidden;
}
.container3_first{
    background: url(../projfile.jpg);
    background-position: center;
    background-size: cover;
}
.container3_second {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
.container3_second .c3s{
    width:100%;
    height:auto; 
    margin: 1vw 0;  
}
.c3s i{
    font-size: 2.5vw;
    padding-right: 1vw;    
    color:#4FAAD9;
}
.c3s h5{
    margin:0;
    font-size: 1.4vw;
    font-family:'Gilroy-ExtraBold';
}
.c3s p{
    width:90%;
    position: relative;
    font-family:'Gilroy-Regular' ;
    font-size: 1.3vw;
    line-height: 2.2vw;
    margin: 0;
}
/* ********************************************** */
.Container2{
    width:85vw;
    margin: auto;
    overflow: hidden;
    height:auto; 
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.boxes{
    width:45%;
    height:100%;
    padding: 2vw 1vw;
}
.b2 h3{
    color:white;
}
.boxes h3{
    font-size: 1.5vw;
    font-family: 'Gilroy-ExtraBold';
    padding:0;
    margin:0.5vw 0;
}
.boxes p{
    width:95%;
    font-family:'Gilroy-Light';
    font-size:1.3vw;
    line-height: 2.1vw;
    margin: 0;
    padding: 0;
}
/* **************************************************************************** */
.fourthsection{
    position: relative;
    height: auto;
    display: flex;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
    background:url(../image/4back.jpg);
}
.fourthsection .contain{
    width:80%;
    height:auto;
    padding: 2vw 0;
    margin-bottom: 9vw;
    justify-content: space-around;
    flex-direction: column;
    z-index: 100000;
}
.overlay{
   width:100%;
   height:100%;
   background: #03b4f5;
   position: absolute;
   opacity: 0.8;
}
.fourthsection .contain h1{
    font-size: 3.5vw;
    font-family: 'Gilroy-ExtraBold';
    color:white;
}
.fourthsection .contain{
    text-align: center;
}
.fourthsection .contain h3{
    font-family: 'Gilroy-Bold';
    font-size: 1.7vw;
    color:white;
}
.fourthsection .contain button{
    font-size:2vw;
    padding:1vw 5vw;
    margin-top: 1vw;
    font-family:'Gilroy-Bold';
    border:none;
    outline:none;
    background-color:#153980;
    color: white;
}
.map{
    width:85vw;
    overflow: hidden;
    height: auto;
    margin: auto;
}
.map img{
    width:100%;
    height:100%;
}
.bigimg{
    width:85vw;
    overflow: hidden;
    height: auto;
    margin: auto;
}
.bigimg img{
    width:100%;
    height:100%;
}
/* ************************************************************** */
.seventhsection{
    width:85vw;
    height:auto;
    margin:auto;
    padding: 1.5vw 0;
    overflow: hidden;
    display: flex;
}
.seven_fbox{
    width:60%;
    height:auto;
    padding:1vw;
}
.s7sbox{
    width:40%;
    height: auto;
    display:flex;
    justify-content: center; 
    padding: 2vw 0;
}
.seventhsection .seven_fbox input{
    font-size: 1.6vw;
    padding:0.6vw 0.6vw;
    border: 3px solid black;
    margin: 1vw;
}
.seventhsection .seven_fbox textarea{
    border: 3px solid black;
    width:89%;
    margin:1vw;
}
.seventhsection .seven_fbox button{
    margin:1vw;
    padding: 1vw 4vw;
    font-size: 1.3vw;  
    background:#1D3478;
    border: none;
    outline: none;
    color:white;
    font-weight: bold;
    font-family:'Gilroy-ExtraBold';
}
.seven_add h3,h2{
    font-family:'Gilroy-ExtraBold';
    font-size: 1.6vw;
}
.seven_add p{
    font-family:'Gilroy-Light';
    font-size: 1.4vw;
}
.seven_add span i{
    font-size: 2vw;
    margin-right: 1vw;
}
.seven_add{
    width:80%;
    height:73%;
    padding:2vw;
    display:flex;
    justify-content: space-around;
    flex-direction: column;
    background: #1D3478;
    color:white;
}
/* ********************************************************************* */
.eighthead{
    width:85vw;
    height:auto;
    margin: auto;
    font-size: 1.7vw;
    font-family: 'Gilroy-ExtraBold';
    display: flex;
    align-items: center;
    margin-bottom: 1vw;
}
.eighthsection{
    width:85vw;
    height:auto;
    margin: auto;
    margin-bottom: 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.eighthsbox{
    width:32%;
    height: auto;
}
.eighthsbox1{
    background-color: #0d4480;
    position: relative;
    height:auto;
    padding: 0.5vw 0;
    color:white;
    text-align: center;
}
.eighthsbox1 h2{
    font-family: 'Gilroy-Bold';
    width:85%;
    margin: auto;
    padding: 0.5vw 0;
    text-align: center;
    font-size: 1.7vw;
}
.ebox2 h2{
    width:60%;
}
.ebox h2{
    width:60%;
}
.ebox{
    background: #0DA7DF;
}
.eighthsbox2{
    position: relative;
    height:auto;
    margin:2vw 0;
}
.eighthsbox2 i{
    color:#4FAAD9;
    padding:0 1vw;
    height: 50% ;
    display: flex;
    align-items: center;
    font-size: 2vw;
}

.eighthsbox2 p{
    font-size: 1.7vw;
    font-family: 'Gilroy-Light';
    margin: 0;
}
.eighthsbox2 span{
    width:100%;
    height:auto;
    display: flex;
    margin:1vw;
}
/* ********************************************************** */
.ninthbox{
    width:100%;
    height:auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #DADADA;
}
.ninth{
    width:85%;
    height:auto;
    margin:auto;
    margin-bottom:3vw;
    margin-top:2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nine{
    width:32%;
    height:auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.nine p{
    font-size: 1.3vw;
    text-align: center;
    line-height: 2.5vw;
    font-family: 'Gilroy-Light';
}
.nine button{
    padding:1vw 3vw;
    font-size: 1.5vw;
    color:white;
    background-color: #153980;
    font-family: 'Gilroy-ExtraBold';
    border: none;
    outline: none;
}
.ninth_third button{
    padding:1vw 0.5vw;
}
/* ....................................... */

.container7{
    width:85vw;
    height:auto;
    padding: 2vw 1vw;
    overflow: hidden; 
    display: flex;
    margin: auto;
}
.c7box{
    width:50%;
    background: #fff;
    overflow: hidden;
}
.c7b{
    background: url(../last.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.c7box h1{
    font-family: 'Gilroy-ExtraBold';
    font-size: 2.8vw;
}
.c7box p{
    font-family: 'Gilroy-Light';
    line-height: 2vw;
    font-size: 1.1vw;
}
/* ************************************************************************** */
.footer{
    width:100%;
    height:auto;
    padding:2vw 0;
    background-color: #153980;
}
.foot{
    width:85vw;
    height:auto; 
    margin:auto;
    display:flex;
}
.fbox{
    width:50%;
    height:auto;
    padding:1vw 3vw;
}
.fbox p{
        position: relative;
        overflow: hidden;
        padding:1vw 1vw;
        font-size: 1.3vw;
        line-height: 2vw;
        font-family: 'Gilroy-Light';
        color:#fff;
}
.fbox h2{
    font-size: 1.5vw;
    color:#fff;
}
