body{
    margin:0;
    padding:0;
    min-height: 100vh;
    background: #fff;
}
@font-face {
    font-family:"Gilroy-ExtraBold";
    src: url(../EM-Gilroy-font/Gilroy-ExtraBold.ttf);
}
@font-face {
    font-family:'Gilroy-Light' ;
    src:url(../EM-Gilroy-font/Gilroy-Light.ttf);  
} 
.container23{
    width:85vw;
    height:auto;
    margin:2rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr ));
    grid-gap:1rem;
    background-color: #153980;
    padding:1.5rem 2rem;
    box-sizing: border-box;
} 
.c23{
    position: relative;
    background: #fff;
    background-color: #153980;
    overflow: hidden;
}
.c23 h1{
    font-size: 3.4rem;
    font-family:'Gilroy-ExtraBold';
    font-weight: bold;
    color:#2dbdef
}
.c23 p{
    color: white;
    font-family:'Gilroy-Light';
    font-size: 1.1rem;
    line-height: 2rem;
}
.c23 h3{
    color:#2aafe2;
    font-size: 1.1rem;
    font-family: 'Gilroy-ExtraBold';
}
/* ******************************************************* */
.container{
    width:85vw;
    height:auto;
    margin:0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr ));
    grid-gap:1rem;
    box-sizing: border-box;
}
.box{
    position: relative;
    background: #fff;
    overflow: hidden;
    padding-bottom: 5rem;
}
.box1{
    width:100%;
    height:20%;
    background-color: #0d4480;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box h2{
    position: relative;
    margin:0;
    padding:0;
    font-size: 1.8rem;
    text-align: center;
    font-family: 'Gilroy-ExtraBold';
    color:white;
}
.box p{
    font-size: 1.5rem;
    font-family: 'Gilroy-Light';
}
.box i{
    padding:0 1rem;
    color:#4FAAD9;
}
/* ************************************************************ */
.Container2{
    width:85vw;
    height:auto; 
    margin:2rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr ));
    grid-gap:1rem;
    box-sizing: border-box;
}
.boxes{
        position: relative;
        background: #fff;
        overflow: hidden;
        padding:1rem 1rem;
}
.boxes h3{
    font-family: 'Gilroy-ExtraBold';
    padding:0;
    margin:0;
}
.boxes:last-child{
    padding-top: 3rem;
}
.boxes p{
    font-family:'Gilroy-Light';
    line-height: 2rem;
    font-size:1.3rem;
}
/* ********************************************** */
.c3head{
    position: relative;
    padding: 0 6rem;
    font-size: 1.8rem;
    font-family: 'Gilroy-ExtraBold';
    display: flex;
    justify-content: flex-start;
}
.container3{
    width:85vw;
    height:auto; 
    margin:2rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr ));
    grid-gap:1rem;
    box-sizing: border-box;
}
.c3box{
    position: relative;
    background: #fff;
    overflow: hidden;
    padding:1rem 1rem;
    font-size: 1.3rem;
    font-family: 'Gilroy-Light';
    line-height: 2rem;
}
.c3box i{
    font-size: 2.5rem;
    padding:0 1rem;
    color:#4FAAD9;
}
.c3box h5{
    margin:0;
    padding:0;  
}
/* ******************************************************************************** */
.fourthsection{
    width:100%;
    height:27rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    background:url(../image/4back.jpg);
    position: relative;
}
.fourthsection .contain{
    width:80%;
    height:19rem;
    margin-top: 2.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    z-index: 100000;
}
.overlay{
   width:100%;
   height:100%;
   background: #03b4f5;
   position: absolute;
   opacity: 0.8;
}
.fourthsection .contain h1{
    font-size: 3rem;
    font-family: 'Gilroy-ExtraBold';
    color:white;
}
.fourthsection .contain{
    text-align: center;
}
.fourthsection .contain h3{
    font-family: 'Gilroy-ExtraBold';
    font-size: 1.4rem;
    color:white;
}
.fourthsection .contain button{
    font-size:1.5rem;
    padding:1rem 5rem;
    border:none;
    outline:none;
    background-color:#153980;
    color: white;
}
/* *********************************************************************************************** */
.container5{
    width:85vw;
    height:auto; 
    margin:2rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr ));
    grid-gap:1rem;
    box-sizing: border-box;
}
.c5box{
    position: relative;
    background: #fff;
    overflow: hidden;
    padding:1rem 1rem;
}
.c5boox c5{
    height:auto; 
    margin:2rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr ));
    grid-gap:1rem;
    box-sizing: border-box;
}
.c5box input{
    font-size: 1rem;
    border:3px solid black;
    padding: 0.5rem;
    margin: 1rem;
}
.c5box textarea{
    width:85%;
    height:15rem;
    border: 3px solid black;
    margin:1rem;
}
.seventhsection .seven_fbox button{
    margin:1rem;
    padding: 1rem 4rem;
    font-size: 1.3rem;  
    background:#1D3478;
    color:white;
    font-weight: bold;
    font-family:'Gilroy-ExtraBold';
}
.seven_sbox{
        width:50%;
        height:100%;
        z-index: 99999;
        margin-top: 1rem;
}
.seven_sbox h3,h2{
    font-family:'Gilroy-ExtraBold';
}
.seven_sbox p{
    font-family:'Gilroy-Light';
}
.seven_sbox span i{
    font-size: 2rem;
    margin-right: 1rem;
}
.seven_add{
    width:80%;
    height:70%;
    padding:2rem;
    display:flex;
    justify-content: space-around;
    flex-direction: column;
    background: #1D3478;
    color:white;
}
/* ********************************************************************************* */
.container6{
    width:85vw;
    height:auto; 
    margin:2rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr ));
    grid-gap:1rem;
    box-sizing: border-box;
    background:#DADADA; ;
}
.c6box{
    position: relative;
    background: #DADADA;
    overflow: hidden;
    text-align: center;
    padding:1rem 1rem;
}
.c6box p{
    font-size: 1.5rem;
    font-family: 'Gilroy-Light';
    line-height: 2.5rem;
    text-align: center;
}
.c6box button{
    padding:1rem 3rem;
    font-size: 1.2rem;
    background-color: #153980;
    font-family: 'Gilroy-ExtraBold';
    color:white;
    border: none;
    outline: none;
}
/* ************************************************************** */
.container7{
    width:85vw;
    height:auto; 
    margin:2rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr ));
    grid-gap:1rem;
    box-sizing: border-box;
}
.c7box{
    position: relative;
    overflow: hidden;
    padding:1rem 1rem;
}
.c7box h1{
    font-family: 'Gilroy-ExtraBold';
    font-size: 2.8rem;
}
.c7box p{
    font-family: 'Gilroy-Light';
    line-height: 2rem;
    font-size: 1.1rem;
}
/* ******************************************************* */
.footer{
    width:85vw;
    padding:2rem 2rem;
    height:auto; 
    margin:2rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr ));
    grid-gap:1rem;
    background-color: #153980;
    box-sizing: border-box;
}
.c7box{
    position: relative;
    overflow: hidden;
    padding:1rem 1rem;
}
.fbox p{
        position: relative;
        overflow: hidden;
        padding:1rem 1rem;
        font-size: 1.3rem;
        font-family: 'Gilroy-Light';
        color:#fff;
}
.fbox h2{
    font-size: 1.5rem;
    color:#fff;
}
@media(max-width:900px){
    .c23box{
    display:none;
    }
}